
 /* dell_sub_site  */
.wrap{width: 100%;height: 100%;display: flex;flex-direction: column;gap: 280px;margin: 0 auto ;}
 /* dell_sub_site  */

  /* sub_banner  */
.sub_banner {
  width: 100%; 
  background: url('../images/sub_banner.jpg'); background-size: cover; background-repeat: no-repeat;background-position: center;
  position: relative;  overflow: hidden;
}


 /* header  */
header { width: 95%; height: 100px; position: relative;margin: 0 auto;padding: 0 2.5%;box-sizing: border-box;}

.logo { position: absolute; top: 37px; left: 48px; }
.gnb { margin-left: 60px; position: absolute; left: 264px; top: 40px; }
.gnb ul { display: flex; gap: 48px; list-style: none; }
.gnb ul li a { color: #fff; font-size: 18px; font-weight: 600; letter-spacing: -1px;}
.gnb ul li a:hover { color: #787878; transition:.3s;}

.header_gnb_social { display: flex; flex-wrap: wrap; gap: 20px; position: absolute; top: 37px; right: 48px; }
.header_gnb_social:hover {color: #787878; transition: .3s;}
.header_gnb_social img { height: 24px;cursor: pointer;}
 /* header  */

 .banner_title_wrap{width: 100%; padding: 200px 0; display: flex;flex-direction: column; gap: 170px; justify-content: center; align-items: center;color: #fff;}
 .breadcrumb_box{width: 300px;height: 16px; display: flex; gap: 17px;text-decoration: none;color: #fff; justify-content: center; align-items: center;}
 .breadcrumb_box a {color: white ; justify-content: center; align-items: center;transition: .3s;}
 .home_icon img {cursor: pointer;}
/* sub_banner  */

/* supports  */
.supports{ width:1400px ;display: flex;color: #fff;display: flex;flex-direction: column; gap: 113px;justify-content: center; align-items: center;
  color: #fff;margin: 0 auto ;}

.supports_box{width:100%;display: flex;gap: 225px; color: #fff;}
.btn_supports_box{width: 50%;display: flex;flex-direction: column; gap: 178px; color: #fff; }
.offer_img{width:50%; background:  url('../images/offer_img.jpg') ;background-size: cover; background-repeat: no-repeat;}
.btn_article {text-decoration: none;color: black;}
/* supports  */

/*connection*/
.connection{width: 95%;height: auto ;display: flex; flex-direction: column ;gap: 113px; color: #fff;margin: 0 auto ;align-items: center;justify-content: center;}
.connection_contents_box{display: flex;gap: 30px;color: #fff;justify-content: center;align-items: center;}
.connection_contents_wrap{display: flex;gap: 30px; }
.connection_box{width: 897px;display: flex;flex-direction: column;gap: 70px;background:#000 ;}
.connection_img{
  width: 897px;height: 313px;background: url('../images/Connection_img.jpg') ;background-size: cover; background-repeat: no-repeat;
  background-size: cover; background-position: center; background-repeat: no-repeat; display: block;
}
.potal_img{
  width: 897px;height: 313px;background: url('../images/Portal_img.jpg') ;background-size: cover; background-repeat: no-repeat;
  background-size: cover; background-position: center; background-repeat: no-repeat; display: block;
}
.btn_article_ver{display: flex; gap: 32px; transition:3s;}
.btn_article_ver a{text-align: none; color: #fff;}
.btn_article_ver a:hover {text-align: none; color:#787878 ;}
.connection_text{display: flex;flex-direction: column; gap: 40px;}
/*connection*/

/*potal*/
.potal{width: 100%;height:auto;display: flex; flex-direction: column;padding:20px 0 50px 0;align-items: center;justify-content: center;color: #fff;}
.contents_portal_wrap{width: 100%;height: auto;display: flex;flex-direction: column;gap: 112px;align-items: center;justify-content: center;}

.contents_title_box_portal{width: 100%;height: 1800px;display: flex;flex-direction: column;}
.contents_main_box{width: 100%;height: 600px;display: flex;gap: 68px;align-items: center;justify-content: center;}
.techdirect_img{width: 904px;height: 600px;}
.btn_title_box{width: 836px;height: 600px;padding-top: 80px;box-sizing: border-box;}
.title_box{width: 100%;height:409px; display: flex;flex-direction: column; gap: 140px;}
.article_text_box{display: flex;flex-direction: column;gap: 40px;}
.article_box{display: flex; flex-direction: column;gap: 40px;}

.contents_main_box_ver{width: 100%;height: 600px;display: flex;gap: 68px;align-items: center;justify-content: center;margin: 0 auto;}
.btn_title_box_ver{width: 836px;height: 600px;padding-top: 80px;box-sizing: border-box;align-items: flex-end; 
  text-align: right;}
.title_box_ver{width: 100%;height:409px; display: flex;flex-direction: column; gap: 140px;justify-content: space-between}
.article_text_box_ver{display: flex;flex-direction: column;gap: 40px; text-align: right;}
/*potal*/

/*last*/
.last{width: 100%;height:auto;align-items: center;justify-content: center;}
.contents_last_wrap{width: 100%;height: auto;display: flex;flex-direction: column;gap:135px;color: #fff;align-items: center;text-align: center;}
/*last*/

/*footer*/
footer{width: 100%; height: auto; display: flex; flex-direction: column ;align-items: center;justify-content: center;}
.footer_nav{width: 100%;height: 662px;display: flex; box-sizing: border-box;justify-content: center;}
.footer_nav_btn{width: 275px; height: 340px;display: flex; flex-direction: column; align-items: center; gap: 30px;}
.btn_nav{display: flex;flex-direction: column ;gap:22px; text-align: start;}

.footer_contents{width: 100%; height: 242px;display: flex; align-items: center;justify-content: center;gap:750px;  border-top: 1px solid #9d9d9d;}
.footer_btn{display: flex;gap: 30px;}

.contents_article_small { text-decoration: none;}

.btn_nav a { color:#787878; text-decoration: none; transition: color 0.3s ease;}

.btn_nav a:hover { color: #fff;}

.footer_btn a { color:#fff; text-decoration: none; transition: color 0.3s ease;}

.footer_btn a:hover { color: #787878;}
/*footer*/