.promotion {
    display: flex;justify-content: center; align-items: center; background: #906da4;
}

.promotion_box{ 
        width: 1420px;
        height: 10760px;
        background-image: url('../gs25_promotion.jpg');
        background-size: contain; /* 비율 유지하며 전체 이미지 보이기 */
        background-repeat: no-repeat; /* 반복 제거 */
        background-position: top center; /* 위쪽 정렬 */
      }

 

 
    
